[Desktop Entry]
Name=Helix
Comment=Custom Desktop Entry for Helix
Exec=/home/user/.local/bin/floatterm-exec hx %F
Keywords=helix;
Type=Application
MimeType=text/plain;text/x-python;text/x-csrc;inode/directory;
Categories=Utility;TextEditor;
Keywords=helix;editor;text;code;
