@define-color bg0 #161616;
@define-color bg #2a2a2a;
@define-color fg #f2f4f8;
@define-color sel #484848;
@define-color urg #ee5396;
@define-color accent #08bdba;
@define-color accent0 #33b1ff;
@define-color red #ee5396;
@define-color green #25be6a;


* {
    font-size: 20px;
    font-family: JetBrainsNerdFont Mono;
    border-radius: 0px;
}

tooltip {
    border-radius: 0px;
    background-color: @bg;
    border: 0px;
}
tooltip label {
    color: @fg;
}

window#waybar {
    padding: 0px;
    border-radius: 0px;
    background-color: @bg0;
    border-bottom: 0px;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    margin: 10px 10px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 3px transparent;
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

button:hover {
    background: inherit;
    border: none;
    text-shadow: inherit;
    box-shadow: inset 0 3px @fg;
}

#workspaces {
    background-color: @bg;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg;
    box-shadow: inset 0 3px @accent0;
    border-radius: 0;
}


#workspaces button:hover {
    color: @accent0;
}

#workspaces button.current_output {
    background-color: transparent;
    color: @fg;
    box-shadow: inset 0 3px @accent;
}

#workspaces button.focused {
    background-color: @sel;
    /* box-shadow: inset 0 3px @accent0; */
}

#workspaces button.visible {
    background-color: @sel;
}

#workspaces button.urgent {
    background-color: @urg;
}

#custom-power-profile,
#language,
#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load {
    padding: 5px 10px;
    background-color: @bg;
    color: @fg;
}

#mode {
    background-color: @accent;
    color: @bg;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0 5px;
}

#battery.charging, #battery.plugged {
    background-color: @green;
    color: @bg;
}

@keyframes blink {
    to {
        background-color: @bg;
        color: @fg;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: @urg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: @accent0;
    color: @bg;
}

#custom-power-profile.power-saver {
    box-shadow: inset 0 3px @red;
}

#custom-power-profile.balanced {
    box-shadow: inset 0 3px @green;
}

#custom-power-profile.performance {
    box-shadow: inset 0 3px @urg;
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}
